<a href="https://colab.research.google.com/github/mmuansari/python/blob/main/Python_e_notes_(mmua).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#why we require comminting?
# We require comminting for the better understandong

In [ ]:
#what is an IDE?
#Ans ; - code executer, compiler, write our code and display our code.
#3 imp IDE's (Google colab notebook(internet), Jupyter notebook(offline),Pycharm(offline))

In [ ]:
#Numerical data types
#There are 3 types of data types
#1. integer :- It's a whole number without decimal point
#Print():- To display our output
print(10)
#How can you find the datatype?
#Type():- used for to know the datatype
print(type(10))

10
<class 'int'>

In [ ]:
#2.Float:- A whole number either -ve or +ve with decimal point.
print(type(2.35))

<class 'float'>

In [ ]:
print(type(1.0))
print(type(1.23))
print(type(-44.44))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#3.complex numbers:- A real number with its real + imaginary part.
#Here 'i' is represented as 'j'
#'j' is known as iota
#And the value of 'j' is 'root(-1)'
print(type(2+4j))

<class 'complex'>

#Arithmetic operators

In [ ]:
4#What are all arthamatic operators?
#Addition:- Adding of two integers '+'
print(10 + 5)
print(type(10 + 5))
#Substraction :- '-'
print(10 - 5)
print(type(10 - 5))
#Multiolication :- '*'
print(10 * 5)
print(type(10 * 5))
#Division :- '/'
print(10 / 5)
print(type(10 / 5))

15
<class 'int'>
5
<class 'int'>
50
<class 'int'>
2.0
<class 'float'>

In [ ]:
print(type(2 / 2))
print(type(3 / 1))
print((2 / 2))
print(type(2 // 2))
print(2 // 2)

<class 'float'>
<class 'float'>
1.0
<class 'int'>
1

In [ ]:
#Exponential :- To the power off---> '**'
print(2 ** 3)
print(type(2 ** 3))

8
<class 'int'>

In [ ]:
print(5 ** 2)

25

In [ ]:
#Floor division:- It will ignores the values after decimal points
#It can be deenoted with '//'
print(10 / 3)
print(10 // 3)

3.3333333333333335
3

In [ ]:
#What is floor value?
#And : It is a vlaue before decimal point

In [ ]:
#Modulus :- '%' , It's an reminder
print(10 % 2)
print(type(10 % 2))

0
<class 'int'>

In [ ]:
#Find the given number is even or odd?
print(5 % 2)  #If you get output as 1 its an odd number
print(6 % 2)  #0 is also an even number,If you get output as 0 its an even number

1
0

In [ ]:
print(10 % 5)
print(999 % 2)
print(111 % 8)

0
1
7

#Types of erros

In [ ]:
#There are only 2 types of errors
#1.Syntax errors :- If you break the rules of programming language then you will get syntax errors.
#How can this rules be broke?
#Examples :
print(10 * * 3)

SyntaxError: invalid syntax (<ipython-input-40-fdf971c7aaac>, line 5)

In [ ]:
#2.Logical errors:- Except syntax error all the other errors comes under logical error
#Ex :- Indentation error(Space), type error(typing), recurssive error(Repeated)..etc

#Round()

In [ ]:
#It will give the nearest value, means we are rounding off the value
print(round(10.5))
print(round(10.6))
#Note : If the value is equal to and less than 0.5 then the round of value can be floor value

10
11

In [ ]:
print(round(2.3456))

2

In [ ]:
#If I want to print number with and after 2 decimal point
print(round(2.3456,2))

2.35

In [ ]:
print(round(2.23245,2))

2.23

In [ ]:
print(round(2.2245,2))

2.22

In [ ]:
print(round(2.3435,2))

2.34

In [ ]:
print(round(2.3455,2))

2.35

In [ ]:
print(round(2.3456,3))

2.346

In [ ]:
round(0.545,2)

0.55

In [ ]:
#What is ceiling value?
#Ans : When you use rounf off function and the value is more than (0.5) it will got for thr neares upcoming value.
#So, upcoming value is known as ceiling value.

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
""" Hey world,
    This is ansari,
    and Im student of zenvius. """

' Hey world,\n    This is ansari,\n    and Im student of zenvius. '

#Day-2 (12-06-2024)

In [ ]:
#print first 2 decimals from the given input 9.6543?
print(round(9.6543,2))

9.65

#Variables

In [ ]:
#Why we are using the variables?
#Variables are containers where we can store our value information and when ever you wnt you can reuse it.

In [ ]:
#How can we create a variable?
#How can we access an variable?

"""Lets say father age is x and
son age is 1/2 of father age"""

x = 40
son_age = x/2

print(son_age)

20.0

In [ ]:
x = 10
y = 5

add = x + y
sub = x - y
mult = x * y
div = x / y
expo = x ** y
fd = x // y
mod = x % y

print(add)
print(sub)
print(mult)
print(div)
print(expo)
print(fd)
print(mod)

15
5
50
2.0
100000
2
0

In [ ]:
#Rules to follow for writing variable
#Rule(1). Variables can be written by using alphabets
a = "hello world"
print(a)

hello world

In [ ]:
#Rule(2). You can't start with the numbers
2 = 'hey'
print(2)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-11-7e5b8a500f0a>, line 2)

In [ ]:
#Rule(3). if you follow rule 1 and 2 then in between the text you can use numbers and alphabets also

In [ ]:
#Rule(4): you can also start with '_'
#Rule(5): you cannot use special characters
#Rule(6): you cannot give spaces in between variables
#Rule(7): Don't start a variabls name with capital  letter
#Rule(8): Variables are case sensitive

In [ ]:
#Smart way of writing variables?
#1. Assign multiple values to multiple variables and print it?
a,b,c = (10,20,30)
print(a,b,c)

#OR

a = 10

10 20 30

In [ ]:
(a,b,c) = (1,2,3)
print(a,b,c, sep='\n')

1
2
3

In [ ]:
(a,b,c) = 10

TypeError: cannot unpack non-iterable int object

In [ ]:
#Assign single value to the multiple variable and print it?

a = 10
b = 10
c = 10

print(a,b,c)

10 10 10

In [ ]:
a = b = c = 10
print(a,b,c, sep='\n')

10
10
10

In [ ]:
#To print the output in n number of lines.

a = 10
b = 10
c = 10

print(a,b,c, sep="\n")

10
10
10

In [ ]:
a = 10
b = 20
c = 30

print(a,b,c, sep="\n")

10
20
30

#Input()

In [ ]:
#What is input()?
#it will take what ever information given by user
#how to create the input()?
#to create input function we are using "Input()" along with variable
#how to acces input ()?
#with help of input variable we can access the input() values.

In [ ]:
a = input()
print(a)
print(type(a))


#What is default data type for input()?
#Ans - string

5
5
<class 'str'>

In [ ]:
#Create 2 input() program and do all arthamatic operation?

a = int(input())
b = int(input())

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)

10
9
19
1
90
1.1111111111111112
1000000000
1
1

In [ ]:
#Create 2 input() program and do all arthamatic operation?

a = float(input())
b = float(input())

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(a // b)
print(a % b)

10
9
19.0
1.0
90.0
1.1111111111111112
1000000000.0
1.0
1.0

In [ ]:
a  = input("enter the number :" )
print("a =",a)

enter the number :1
a = 1

#String

In [ ]:
#what is a string?
#string is a collection of group of characters which written inside ' or "
a = "hello world!"
print(a)
print(type(a))

hello world!
<class 'str'>

In [ ]:
a = input("Enter a number : ")
print(a)

Enter a number : 100
100

In [ ]:
#Write a multiple lines of string?

In [ ]:
#note : string is collection multiple characters each and every characeter is accessble.
#how can we access each element in a string?
#Indexing

In [ ]:
#find the length of the given string:
a = "Hello world!"
len(a)

12

In [ ]:
#Print w from "hello world"
a = "hello world!"
print(a[6])
print(a[0])
#print the range of characters?
print(a[0:5])
print(a[6:11])
#if you want to display specific end character then you need to add it with 1 'n+1'

w
h
hello
world

In [ ]:
#I want to print step wise elements from a string

a = "hello world!"

print(a[0:12:2])
print(a[0:12:3])
print(a[0:12:4])
print(a[1:11:2])

#negative indexing : accesing the elements in string from reverse direction.
print(a[-1])

#Print world from hello world in -ve direction?
print(a[])

hlowrd
hlwl
hor
el ol
!

In [ ]:
b = "univerese"
print(b[::-1])

eserevinu

In [ ]:
c="hyderabad"
print(c[::-1])

dabaredyh

In [ ]:
d = 'moin uddin ansari'
print(d[0:4])
print(len(d))
print(d[4:15])
print(d[-16:-9:1])
print(d[-14:-5:1])
print(d[3:12])

moin
17
 uddin ansa
oin udd
n uddin a
n uddin a

#Day-3 (13-june)

In [ ]:
string = "Hello, world!"
print(string[4])
print(string[-1])
print(string[-13:-8])
print(string[-8:-14:-1])

o
!
Hello
,olleH

#String methods

In [ ]:
x = "hello world!"
#How to answer :-What are all the  methods I can apply on x = "hello world!"
#
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#There are 10 total string methods
#1.capitalize
#2.upper
#3,lower
#4.replace
#5.trim
#6.find
#7.title
#8.swapcase
#9.split
#10.ltrim
#How to apply string methods?

x = "hello world!"
print(x.upper())
print(x.lower())
print(x.title())
print(x.swapcase())
print(x.lstrip())
print(x.split())
print(x.capitalize())

HELLO WORLD!
hello world!
Hello World!
HELLO WORLD!
hello world!
['hello', 'world!']
Hello world!

**String format method**

In [ ]:
x = "10"
y = "My age is 10"

In [ ]:
#What is string format method?
#Filling the placeholders{} with given arguments
#There are 3 format methods:-

#1-method:

age = 40
string = "my age is {}"
print(string.format(age))

my age is 40

In [ ]:
#2-method:

age = 40
string = "my age is {}".format(age)
print(string)

my age is 40

In [ ]:
#3-method:

age = 40
string = f"my age is {age}"
print(string)

my age is 40

In [ ]:
#Method-2(format)(example):

item = 'Product A'
price = 99.9
quantity = 20
text = 'Your order for {}, number of items {}, priced at {} is confirmed'.format(item,quantity,price)

print(text)

Your order for Product A, number of items 20, priced at 99.9 is confirmed

In [ ]:
#Method-3(format)(example):


item = 'Product A'
price = 99.9
quantity = 20
text = f'Your order for {item}, number of items {quantity}, priced at {price} is confirmed'

print(text)

Your order for Product A, number of items 20, priced at 99.9 is confirmed

#Conditional statements/Control structures

In [ ]:
#what are all coparision operators we have in python?

#1. equals to --> ==
#2. not equals to --> !=
#3. greater than --> >
#4. less than --> <
#5. greater than equal to --> >=
#6. greater than equal to --> <=

In [ ]:
print( 10 == 10)

True

In [ ]:
print("Hello" == "hello")

False

In [ ]:
#What are all conditional statements we have?
#if, else, elif

marks = 40
passing_marks = 35
total_marks = 100

if marks >= passing_marks:
  print("Congratulations")
  print(f'you have passed with the {marks}')
else:
  print("better luck next time")
  print(f"you have got {marks} marks")

Congratulations
you have passed with the 40

In [ ]:
#print a number if its +ve then print positive or -ve then print negative or 0 then print zero

a = int(input(" a = "))
if a > 0:
  print(f"The given number is {a}, so it's positive")
elif a < 0:
  print(f"The given number is {a}, so it's negative")
else:
  print(f"The given number is {a}, so it's zero")

 a = 0
The given number is 0, so it's zero

#Logical operators:

In [ ]:
#Logical operators :- (and, or, not)
#and : all the present conditions are true
#or : If any one condition is satisfied
#not : Reverse the output

In [ ]:
#Check the condition where a is lesser than b and b is lesser than c and b is greater than a

a = 10
b = 56
c = 455
if a < b and b < c and b > a:
  print("yes")
else:
  print("No")

yes

In [ ]:
#Nested condition:
#When we have to use nested condition?



a = 40
if a > 10:
  print(f"{a} is ")

In [ ]:
#pass :- its a null place holder when you execute it nothing happens

a = int(input("Enter your number : "))
if a > 0:
  print("+ve")
  pass
elif a == 0:
  print("Neutral")
else:
  print("-ve")

Enter your number : 5
+ve

#Day-4 (14-June-2024)

#loops

In [ ]:
#Why do we use loops?
#We are using this loops to avoid 'wet' code and to encourage 'dry' code.
#1. WET code :- Means you are repeating the code.
""" W --> write
    e --> everything
    t --> twite """

#2. DRY code :- Not repeating the same code.
""" D --> Don't
    r --> repeat
    y --> yourself """

In [ ]:
#How many types of loops we have in python?
#There are 2 types:-
#1. while loop:
#2. For loop:

In [ ]:
#While loop :- It works / runs a set of instructions as lon as the condition remains true.

In [ ]:
#Write a progrm to run a lift and I need to reach 4 floor.

D = 4
intial = 0

while intial < D:
  print("reach destination")
  print("=================")
  intial = intial+1

reach destination
=================
reach destination
=================
reach destination
=================
reach destination
=================

In [ ]:
#Example of while loop.

i = 0

while i < 10:
  print(i)
  i = i + 1

In [ ]:
#Print the multiples of 2

m = int(input("Enter a number : "))
i = 1

while i <= 5:
  print(i * 2)
  i = i + 1

Enter a number : 2
2
4
6
8
10

In [ ]:
#Print the multiples of 2

m = int(input("Enter a number : "))
i = 1

while i <= 10:
  print(i)
  i = i * 2

Enter a number : 2
1
2
4
8

In [ ]:

#Write a program wheather the given string is plaindrom or not?

a = input()
a_rev = a[::-1]

print(f"rev of string {a_rev}")

if a.lower() == a_rev.lower():
  print(f"{a} is palinddrom")
else:
  print(f"{a} is not palindrome")

KeyboardInterrupt: Interrupted by user

In [ ]:
#Write a program to print multiples of 2 in given list?
#list = [1,2,3,4,5,6,7,8,9,10]
#Expected output [2,4,6,8,10,12,14,16,18,20]

#For loop

In [ ]:
#Write a program to print the multiples of 2

list = [1,2,3,4,5,6,7,8,9,10]
for i in list:
  print(i * 2)

In [ ]:


a = "hello world"
for i in a:
  print(i, sep = "\n")

h
e
l
l
o

w
o
r
l
d

In [ ]:
#What is break and continue?
#Breaks :- Stops the loops
#Continue :- skip the current iteration

num = [1,2,3,4,5,6]
for i in num:
  if i == 6:
    break
  print(i)
#Note : When you use print with if then it should be parllel to if only.

1
2
3
4
5

In [ ]:
#What is break and continue?
#Breaks :- Stops the loops
#Continue :- skip the current iteration

num = [1,2,3,4,5,6]
for i in num:
  if i == 10:
    break
  print(i)

1
2
3
4
5
6

In [ ]:
#What is break and continue?
#Breaks :- Stops the loops
#Continue :- skip the current iteration

num = [1,2,3,4,5,6]
for i in num:
  if i < 6:
    break
  print(i)

In [ ]:
#What is break and continue?
#Breaks :- Stops the loops
#Continue :- skip the current iteration

num = [1,2,3,4,5,6]
for i in num:
  if i > 3:
    continue
  print(i)

1
2
3

In [ ]:
num1 = [10,20,30,40,50,60,70,80,90]
for i in num1:
  if i == 20 or i == 40 or i == 70:
    continue
  print(i)

10
30
50
60
80
90

#Using range function in loops

In [ ]:
#Range(start)
#Print numbers from 1 to 10

In [ ]:
i = 0
while i < 10:
  i = i + 1
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(int(input("Enter a number : "))):
  print(i + 1)

Enter a number : 8
1
2
3
4
5
6
7
8

In [ ]:
 a = int(input("Enter a number : "))
 for i in range(1, a + 1):
  print(i)

Enter a number : 5
1
2
3
4
5

In [ ]:
#If i want the number starts from 2 and till user given input:
#Range(start,end)
a = int(input())
for i in range(2,a):
  print(i)

5
2
3
4

In [ ]:
a = int(input("Enter a number : "))
 for i in range(1, a + 1):
  print(i)

Enter a number : 5
1
2
3
4
5

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(0,1,2):
  print(i)

0

In [ ]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [ ]:
#Write a program to print the range of odd numbers from user input()?

#Day-5(15-06-2024)

#Day-6(20-06-2024)

#Collections

In [ ]:
#There are only 4 types of collections:-
#1. list
#2. tuples
#3. set
#4. dictionary

# 1 . List

In [ ]:
#What is a list:-
#It can be created using square brackets
#And they are ordered, allows duplicates, mutable(changable)
#example:-

l1 = ['apple','banana','mango','strawberry','Blueberry']
print(l1)
print(type(l1))

['apple', 'banana', 'mango', 'strawberry', 'Blueberry']
<class 'list'>

In [ ]:
#What can be storedo in a list?
#Example:-
l2 = ['True','False','True','False']
print(l2)
print(type(l2))

l3 = [1,2,3,4,5,6,7,8,9]
print(l3)
print(type(l3))

#Homo and Hetrogenius data
#If we have differnet
print("-----------------------")
print(type(l1),type(l2),type(l3),sep = "\n")

['True', 'False', 'True', 'False']
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>
-----------------------
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
#List allows duplicates:- means it will print duplicate values also.
#Example:-

l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
print(l1)

['apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']

In [ ]:
#** Lists are ordered.
#What is 'ordered'?
#Ordered means we can acces each and every element in list by using indexing and position numbers?
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
print(l1[0])
print(l1[3:6])
print(l1[::2])
print(l1[::-1])

apple
['strawberry', 'Blueberry', 'apple']
['apple', 'mango', 'Blueberry', 'banana']
['grapes', 'banana', 'apple', 'Blueberry', 'strawberry', 'mango', 'banana', 'apple']

In [ ]:
#Lists are mutable:- means we can change the things
#How you can say a collection is mutable?
#Depending on 3 properties we can say a collection is mutable
#1. swapping  "a--->b and b ---> a"
#2. Adding
#3. Removing or deleting

In [ ]:
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1[0] = 'orange'
print(l1)

['orange', 'banana', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']

In [ ]:
#---> Swap(Replace) the elements from 1 to 4?

l1[1:4] = ['blackberry','kiwi','ball']
print(l1)

['apple', 'blackberry', 'kiwi', 'ball', 'apple', 'banana', 'grapes']

In [ ]:
#Adding (3 types)
#1.Append : - adding extra element at the end of the list

l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1.append('orange')
print(l1)

#what is the default position of append? - end position in list
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
#Can we add more then 1 elements with append? - No, it takes only one argument
l1.append('mango')
print(l1)

['apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes', 'orange']
['apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes', 'mango']

In [ ]:
#2.If we want to  insert any element in any position - we should use insert
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1.insert(2,'orange')
print(l1)

['apple', 'banana', 'orange', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']

In [ ]:
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1.insert(5,'kiwi')
print(l1)

['apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'kiwi', 'apple', 'banana', 'grapes']

In [ ]:
#3.Extend method :- If we want to add items from the other collections then we should use 'extend'

l2 = [1,2,3,4,5,6,7,8,9,10]
l1.extend(l2)
print(l1)

['apple', 'banana', 'orange', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#I want to insert another collection at particular index?

l3 = ['python','java','c++']
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1.insert(2,l3)
print(l1)


#Insert,extend,append(for adding elements)

['apple', 'banana', ['python', 'java', 'c++'], 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']

In [ ]:
#If i want to grab only python from given list:-

l1 = ['apple', 'banana', ['python', 'java', 'c++'], 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']
print(l1[2][0])

python

In [ ]:
#1.removing of elemsts in a list? [4 types]
#1.remove(item or index position number)
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1.remove('banana')
print(l1)

['apple', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']

In [ ]:
l1 = ['apple','banana','mango','strawberry','Blueberry','apple','banana','grapes']
l1.remove(l1[1])
print(l1)

['apple', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes']

In [ ]:
#2.pop
#Syntac---- > Pop --> pop(index)
#Using pop we should only use index
l1 = ['apple','banana','mango','strawberry','Blueberry','grapes','@','$$']
l1.pop(1)
print(l1)

['apple', 'mango', 'strawberry', 'Blueberry', 'grapes', '@', '$$']

In [ ]:
#3.Delete
#Syntax ----> del 'collection_name[index_position_num]'
l1 = ['apple','banana','mango','strawberry','Blueberry','grapes','@','$$']
del l1[2]
print(l1)

['apple', 'banana', 'strawberry', 'Blueberry', 'grapes', '@', '$$']

In [ ]:
del l1
print(l1)

NameError: name 'l1' is not defined

In [ ]:
#4.clear(If we use clear, then output will be empty list)
l1.clear()
print(l1)

[]

#2 . Tuple

In [ ]:
#What is tuple? --  > ()
#Tuples are ordered
#Immutable(non changable),allows duplicates
#Example:-

t1 = ('apple','banana','mango','strawberry','Blueberry','grapes')
print(t1)
print(type(t1))

('apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'grapes')
<class 'tuple'>

In [ ]:
#Tuples allows duplicates
#Example-
t1 = ('apple','banana','mango','strawberry','Blueberry','apple','banana','grapes')
print(t1)

('apple', 'banana', 'mango', 'strawberry', 'Blueberry', 'apple', 'banana', 'grapes')

In [ ]:
#Tuples are ordered
print(t1[3])
print(t1[1:5])
print(t1[::2])  #Even positions
print(t1[::-1]) #Reverse

strawberry
('banana', 'mango', 'strawberry', 'Blueberry')
('apple', 'mango', 'Blueberry', 'banana')
('grapes', 'banana', 'apple', 'Blueberry', 'strawberry', 'mango', 'banana', 'apple')

In [ ]:
#Tuple is immutable:-


#To convert tuples into the list
t1 = (1,2,3,4,5,6,7)
L = list(t1)
print(L)

[1, 2, 3, 4, 5, 6, 7]

# 3. Set --> {}

In [ ]:
#unordered, no duplicates, immutable


s1 = {'apple','banana','mango','strawberry','Blueberry','grapes','apple','banana','grapes'}
print(s1)
print(type(s1))

{'apple', 'strawberry', 'Blueberry', 'grapes', 'banana', 'mango'}
<class 'set'>

In [ ]:
#sets are unordered
print(s1[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#immutable --->

#why sets are immutable:-
#In sets we can add new elements and items and we can remove the items but we can't swap(replace) because,
#Sets doesn't have specific position, its unordered

In [ ]:
#ADD (adding,update)

In [ ]:
#1.Add items in sets
s1 = {'dog', 'horse','hen','elephant'}
s1.add('cow')
print(s1)

{'dog', 'horse', 'cow', 'elephant', 'hen'}

In [ ]:
#2.Update method:- we can update other collection value in the taken set
l = [1,2,3,4,5,6]
s1.update(l)
print(s1)

{1, 2, 3, 'dog', 4, 5, 6, 'horse', 'cow', 'elephant', 'hen'}

In [ ]:
#Remove (remove,discard,pop)

In [ ]:
#1.remove
s1.remove('dog')
print(s1)

{1, 2, 3, 4, 5, 6, 'horse', 'cow', 'elephant', 'hen'}

In [ ]:
#2.discard
s1.discard('hen')
print(s1)

{1, 2, 3, 4, 5, 6, 'horse', 'cow', 'elephant'}

In [ ]:
#3. pop
s1.pop()
print(s1)

{3, 4, 5, 6, 'horse', 'cow', 'elephant'}

In [ ]:
#4. delete
del s1
print(s1)

NameError: name 's1' is not defined

In [ ]:
#5. clear
s1 = {1,2,3,4,5,6,7,8}
s1.clear()
print(s1)

set()

In [ ]:
#What is the main reason of using set?

s1 = {'a','b','c','d'}
s2 = {'d','e','f','g'}
s4 = s1.intersection(s2)
print(s4)

{'d'}

In [ ]:
s3 = s1.union(s2)
print(s3)

{'d', 'b', 'e', 'a', 'c', 'g', 'f'}

#Dictionary

In [ ]:
#Where we can store our items in a dictionary
#--> We can store the items in a dictionary called "key value pairs"
#--> Can be in --> {}
#--> unordered, it won't allow duplicates
#--> Values can be changable but keys can't change

In [ ]:
d1 = {
    "name" : "python",
    "last_name" : "programming",
    "age":29,
    "module" : True
}
print(d1)
print(type(d1))

{'name': 'python', 'last_name': 'programming', 'age': 29, 'module': True}
<class 'dict'>

In [ ]:
#how can we print keys and values separetly:
print(d1.keys())
print(d1.values())

dict_keys(['name', 'last_name', 'age', 'module'])
dict_values(['python', 'programming', 29, True])

In [ ]:
print(d1.items())

dict_items([('name', 'python'), ('last_name', 'programming'), ('age', 29), ('module', True)])

In [ ]:
#python is an interpreted language:
#yes
d1 = {
    "name" : "python",
    "last_name" : "programming",
    "age":29,
    "module" : True,
    "name" : "java",
    'age' : 50
}
print(d1)

{'name': 'java', 'last_name': 'programming', 'age': 50, 'module': True}

In [ ]:
#Dict dont allow duplicates
#yes

d1 = {
    "name" : "python",
    "last_name" : "programming",
    "age":29,
    "module" : True,
    "name" : "java",
    'age' : 50
}
print(d1)

{'name': 'java', 'last_name': 'programming', 'age': 50, 'module': True}

In [ ]:
print(len(d1))

4

In [ ]:
#dict is an unordered
print(d1[0])

KeyError: 0

In [ ]:
#How can we acces elements from dictionary?
#By using keys we can access the elemnts from dictionary

print(d1['name'])
print(d1.get('name'))

java
java

In [ ]:
#How can we change the values of particular keys?
d1['name'] = 'c++'
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': True}

In [ ]:
#update is also similar method we are using to update or replace values in dict?
d1.update({'module' : 'yes'})
print(d1)

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': 'yes'}

In [ ]:
#How can I add new elements into dictionary

d1['typed'] = 'Dynamically typed'
print(d1)
#NOTE : if the input keys are present the value get updated and if it is not present then new key value pairs can be added

{'name': 'c++', 'last_name': 'programming', 'age': 50, 'module': 'yes', 'typed': 'Dynamically typed'}

In [ ]:
#how can we remove the items from dictionary:
d1.pop('age')
print(d1)

{'name': 'c++', 'last_name': 'programming', 'module': 'yes', 'typed': 'Dynamically typed'}

In [ ]:
d1 = {
    "name" : ["python",'c++','java'],
    "last_name" : "programming",
    "age":29,
    "module" : True
}
print(d1)

print(d1['name'][1])

{'name': ['python', 'c++', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}
c++

In [ ]:
d1['name'][1] = 'c language'
print(d1)

{'name': ['python', 'c language', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
d1['name'].append('r')
print(d1)

{'name': ['python', 'c language', 'java', 'r'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
d1['name'][3]

'r'

In [ ]:
#dlet java from the name?
del d1['name'][2]
d1

{'name': ['python', 'c language', 'r'],
 'last_name': 'programming',
 'age': 29,
 'module': True}

In [ ]:
d1.clear()
d1

{}

In [ ]:
d2 = {
    "name" : ["python",'c++','java'],
    "last_name" : "programming",
    "age":29,
    "module" : True
}
print(d2)

{'name': ['python', 'c++', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
del d2
print(d2)

NameError: name 'd2' is not defined

#**Working with loops in the dictionary**

In [ ]:
d3 = { "name" : ["python",'c','java'],
       "last_name" : "programming",
       "age":29,
       "module" : True}
print(d3)

{'name': ['python', 'c', 'java'], 'last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
#Using for loop in dict

for i in d3.keys():
  print(i)

name
last_name
age
module

In [ ]:
for i in d3.values():
  print(i)

['python', 'c', 'java']
programming
29
True

In [ ]:
for (i,j) in d3.items():
  print(i,'-',j)

name - ['python', 'c', 'java']
last_name - programming
age - 29
module - True

In [ ]:
for x in d3.keys():
  print(f'{x} : {d3[x]}')

name : ['python', 'c', 'java']
last_name : programming
age : 29
module : True

#Escape character

In [ ]:
#Escape characters are used to print the illegal characters:-

print("dwyane \'The rock\' johnson")

dwyane 'The rock' johnson

In [ ]:
print("'hello world'")

'hello world'

#Difference between collections

--> Dict{} --> Unordered, key:value pairs, Won't allow duplicates, where value are changable and keys are unchangable.

--> List[] --> unordered, allows the duplicates, mutable.

--> Tuple() --> Ordered, allows the duplicates, immutable.

--> Sets {} --> unordered, it won't allow duplicates, immutable.

#**(24-06-2024)(Functions)**

In [1]:
print("hello")

hello

In [3]:
x = input()
print(x)
print(type(x))

6
6
<class 'str'>

In [8]:
#Function :- Its a block of code which can runs when you call it, where ever you want.
#How can you create a function?
#A) "def" is the key word.
#Lets create a function.
#2 things to be rembered (create a function,How to call the function)
def f1():
  print("hello world")
  print("this is my first function")
  print("===========================")

In [9]:
#How to call the function?
f1()

hello world
this is my first function
===========================

In [12]:
#A function can seen in parameters and the arguments

#Method-1

def f2(name):       #name = parameter
  print(f"hello {name}")
#Call this function
f2("python")        #python = arguments

hello python

In [14]:
#what is parameter(variable)?
#Defining a variable when you create a function is known as parameter.

#what is argument?
#The value you gave to the variable/parameter when you call the function.

#why we are using arguments and parameters?
#both are used for passing different information

#How many arguments do can call?
#we can call many

In [21]:
def f3(name,age):
  print(f"name - {name} and age - {age}")
f3('ansari','22')

name - ansari and age - 22

In [23]:
#use the default parameter to not raise the error when you are calling the function without argument

#Method-2

def f3(name = 'ansari'):  #default argument is beside the parameter
  print(f"name - {name}")
f3()

name - ansari

In [28]:
#what do I do when I dont know how many arguments do I need to pass?

def f2(name):
  print(f"name - {name}")
f2("python","java","c++","c")

TypeError: f2() takes 1 positional argument but 4 were given

In [32]:
def f2(*name): #default star(*) is used when we dont know how many arguments to be used.
 for i in name:
   print(f"name - {i}")
f2("python","java","c++","c")

name - python
name - java
name - c++
name - c

In [36]:
#what do I do when I dont know how many parameters do I need to pass?
def f4(**name):
  for x in name:
    print(f"hello {x}")
  print("============================")
f4(Name = 'python',last_name = 'programming')

hello Name
hello last_name
============================

In [41]:
def f4(**name):
  for x,y in name.items():
    print(f"hello {y}!")
  print("============================")
f4(Name = 'python',last_name = 'programming')

hello python!
hello programming!
============================

In [44]:
print(10,20,30,40,50,60, sep = "\n")

10
20
30
40
50
60

In [46]:
def f5(name,age,last_name):
  print(f'hello {name} my age {age},last_name {last_name}')
f5("python",29,"programming")

hello python my age 29,last_name programming

In [50]:
def f1(**details):
  print(details)

f1(name = 'python', last_name = "programming",age = 29)

{'name': 'python', 'last_name': 'programming', 'age': 29}

In [52]:
def f1(**details):
  for keys,values in details.items():
    print(f1(f'{keys} : {values}'))
f1(name = 'python', last_name = "programming",age = 29)

TypeError: f1() takes 0 positional arguments but 1 was given

In [56]:
#Technical name for * and **
"""*--> arbitrary arguments --> tuples(default datatype)
   **--> keyword arguments --> dict(default datatype)"""

'*--> arbitrary arguments --> tuples(default datatype)\n   **--> keyword arguments --> dict(default datatype)'

In [58]:
#Return() keyword
def f1(x):
  return x
print(f1(10))

10

In [59]:
#Create a sum function:

def sum(a,b):
  return (a + b)
print(sum(2,4))

6